@import 'bootstrap/dist/css/bootstrap.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 80%;
  scroll-behavior: smooth;
}

body {
  background-color: #88effd;
}


.container {
  margin: 0 auto;
  /* max-width: 107rem; */
  padding: 0 4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

/* INDEX START */

.home-product-container{
 flex-wrap: wrap;
 gap: 10px;
 justify-content: center;
}
